<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"villela-barbearia/hero"} /-->
<!-- wp:pattern {"slug":"villela-barbearia/about"} /-->
<!-- wp:pattern {"slug":"villela-barbearia/structure"} /-->
<!-- wp:pattern {"slug":"villela-barbearia/team"} /-->
<!-- wp:pattern {"slug":"villela-barbearia/testimonials"} /-->
<!-- wp:pattern {"slug":"villela-barbearia/products"} /-->
<!-- wp:pattern {"slug":"villela-barbearia/gallery"} /-->
<!-- wp:pattern {"slug":"villela-barbearia/artists"} /-->
<!-- wp:pattern {"slug":"villela-barbearia/cta"} /-->
<!-- wp:template-part {"slug":"footer"} /-->